@use "shared/fonts";
@use "shared/colors";

html {
  body {
    font-family: fonts.$default-font-stack;

    h1 {
      color: colors.$example-red;
      font-family: fonts.$modern-font-stack;
    }
  }
}
